{% extends 'base/main.html' %} 
{% load crispy_forms_tags %} 
{% block content %}

<style>
  .container-box{
      padding: 15px 30px 10px 30px;
  }
</style>

<h1 style="text-align:center;">Change Password</h1>
<hr>
<br>
<form method="POST">
  {% csrf_token %} 
  {{form|crispy}}
  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-danger btnCancel" href="{% url 'menu' %}" role="button">Cancel</a>
    <button type="submit" class="btn btn-success btnSave">Save</button>
  </div>
</form>

<!-- <script>
    document.querySelector("#submitButton").addEventListener('click', function(){
        Swal.fire("Our First Alert", "With some body text and success icon!", "success");
    });
</script> -->

{% endblock content %}
