{%extends 'base/main.html'%}
{% load crispy_forms_tags %} 
{%block content%}

<style>
  body {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
    background-image: 
  }

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .row{
    margin-top: 107px;
  }
  .bgImage{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -179px;
    margin-left: -312px;
  }

  .bg-image{
    height: 100vh;
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -184px;
    z-index:105;
    
  }

</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-3 fw-light fs-5">Password Reset</h5>
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="POST">
              {% csrf_token %} 
              {{form|crispy}}
              <br>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-danger" href="{% url 'login' %}" role="button">Cancel</a>
                <button type="submit" class="btn btn-primary">Reset my password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{%endblock content%}