body{
    background: linear-gradient(to right, #1d61b9, #0e94ee); /* Blue */
    /*background: linear-gradient(to right, #427e42, #2d772d);*/ /* Green */
}

/* .container{
    margin: initial
    margin: center
} */

label{
    display: inline-block;/*  */
    width: 481px;
    text-align: left;
}

.row{
margin-bottom: 5px;
}

.footer{
padding: 30px 0 65px 0;
}

.bg-dark{
--bs-bg-opacity: 1;
background-color: rgba(32,32,32,var(--bs-bg-opacity))!important;
}

.nav-pills .nav-link.active,
.nav-pills -show>.nav-link{
color: #fff;
--bs-bg-opacity: 1;
background-color: rgba(76,76,76,var(--bs-bg-opacity))!important;
}

.me-5{
margin-right: 3rem!important;
margin-left: 4rem!important;
width: 298px;
}

.form-check{
    width: 0px;
    margin-top: 3px;
}

th,
td{
    text-align: center;
    vertical-align: middle;
}

.btnCancel{
    float: right!important;
}

.btnSave{
    float: right!important;
    margin-right: 1rem!important;
}

.asteriskField{
    display:none;
}

.container-box{
    background-color: rgb(255, 255, 255);
}